.segment-two {
  height: 100%;
  width: 100%;
}

.ancher:hover {
  color: rgb(0, 218, 247);
  text-decoration: none;
}
/* visited link */
a:visited {
  color: rgb(253, 196, 88);
}

.copy {
  color: white;
  text-align: center;
}
.p1 {
  height: auto;
  width: auto;
  /* background: #111010b4; */
  text-align: center;
  margin-top: 5px;
  border-radius: 3px;
}

.map {
  height: auto;
  width: 100%;
  border-radius: 3px;
}
.footer-web {
  position: relative;
  bottom: 0;
  background: #343a40;
}
.heading {
  color: whitesmoke;
  text-align: left;
}
.footer-para {
  color: #cfcca3;
  text-align: left;
}

.footer-list {
  color: whitesmoke;
}
.social {
  padding: 10px;
  margin: 0 15px;
  text-align: center;
}
.heading {
  color: rgb(253, 196, 88);
}
i {
  color: white;
  font-size: 45px;
}
.social-icon {
  margin: 12px;
}
.social-icon:hover {
  color: aliceblue;
}

.heading {
  letter-spacing: 0.5rem;
}
.Dev-content {
  text-align: center;
}
.d1 {
  color: #cfcca3;
}
.d2 {
  color: white;
  letter-spacing: 5px;
}
.dev {
  text-decoration: none;
}
