.gall {
  background-color: #ececec;
}

.img-cont {
  margin: 10px;
  background-color: #ececec;
  margin-right: 15px;
}
.photo {
  margin-top: 20px;
  width: auto;

  box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.692),
    3px 5px 8px rgba(0, 0, 0, 0.658);
}
.photo:hover {
  transform: scale(1.2);
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .column {
  flex: 33.3%;
  width: auto;
  overflow: hidden;
  padding: 15px 8px;
  height: 100%;
}
.row .column {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .row .column {
    flex: 50%;
    margin: 0;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .row .column {
    flex: 100%;
    margin: 0;
    padding-top: 5px;
    padding: 15px 8px;
    width: auto;
    overflow: hidden;

    height: 100%;
  }
}
